In [1]:
import pandas as pd

In [2]:
# Load DataFrame
df = pd.read_csv("../dataset/學生修課資料與成績.csv",
                 encoding="utf-8-sig",
                 low_memory=False)

In [3]:
df.head()

   學年度  學期     學號  就讀班級    課程代碼  成績
0  110   1  A2372  資訊一甲  R53862  90
1  110   1  A4291  資訊一甲  R87963  71
2  110   1  A7024  資訊一甲  R93896  59
3  110   1  A9525  資訊一甲  R88116  66
4  110   1  A8406  材料二甲  R45288   6

`pandas.pivot()`

parameter:
1. data: DataFrame
2. index: index column, 可用list, array指定多層
3. values: 篩選數據，可用list, array指定多條件
4. aggfunc: 自定義方法

In [4]:
student_class = df.pivot_table(
    index=["就讀班級"],
    aggfunc={"成績": ["mean", "count"]}
)
student_class

        成績
     count       mean
就讀班級
化學三甲     3  46.333333
材料二甲     6  49.500000
資訊一乙     8  38.750000
資訊一甲     4  71.500000
資訊二甲     5  70.200000